<div class="edit-form">
  <h1>Edit Your Question</h1>
  <div class="error"><%= flash[:error] if flash[:error] %></div>
  <br /><br />
  <%= form_for @question do |f| %>
    <%= f.label :title %>
    <br />
    <%= f.text_field :title %>
    <br /><br />
    <%= f.label :content %>
    <br />
    <%= f.text_field :content %>
    <br /><br />
    <%= f.submit %>
  <% end %>
</div>