<br/><br/>
<div class="question">
  <div class="question-title"><%= @question.user.name %> asked, <%= @question.title %>
    <span class="author-action">
    <% if @question.user == current_user %>
      &nbsp;<%= link_to "Edit Question", edit_question_path(@question.id), {method: :get} %>
      |&nbsp;<%= link_to "Delete Question", question_path(@question), {method: :delete, data: { confirm: 'Are you sure?' }} %>
    <% end %>
    </span>
  </div>
  <div class="question-content"><%= @question.content %></div>

  <% if is_logged_in %>
    <div id="question-vote-button">
      <% if has_voted_on(@question) %>
        <%= render partial: 'votes/cancelvote', locals: {vote: get_vote(@question)} %>
      <% else %>
        <%= render partial: 'votes/upvote', locals: {voteable: @question} %>
      <% end %>
    </div>
  <% end %>

  <div id="question-votes"><%= @question.votes.count %></div> Votes

  <div id="question-comment-box">
    <% unless @question_comments == nil %>
      <% @question_comments.each do |comment| %>
        <%= render partial: 'comments/comment', locals: {comment: comment} %>
      <% end %>
    <% end %>
  </div>

  <% if is_logged_in %>
    <%= render partial: 'comments/form', locals: {commentable: @question} %>
  <% end %>


  <div id="answer-box">
    <% unless @answers == nil %>
      <% @answers.each do |answer| %>
        <%= render partial: 'answers/answer', locals: {question: @question, answer: answer} %>
      <% end %>
    <% end %>

    <% if is_logged_in && !has_answered(@question) %>
      <%= render partial: 'answers/form', locals: {question: @question} %>
    <% end %>
  </div>

</div>