<div class="edit-form">
  <h1>Sign In!</h1>
  <div class="error"><%= flash[:error] if flash[:error] %></div>
  <br /><br />
  <%= form_for :session, url: sessions_path do |f| %>
    <%= f.label :email %>
    <br />
    <%= f.text_field :email %>
    <br /><br />
    <%= f.label :password %>
    <br />
    <%= f.password_field :password %>
    <br /><br />
    <%= f.submit "Sign In" %>
  <% end %>
</div>