<div class="edit-form">
  <h4>Edit Your Comment</h4>
  <div class="error"><%= flash[:error] if flash[:error] %></div>
  <br /><br />
  <%= form_for @comment do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= f.submit 'Submit', class: "btn btn-primary btn-sm" %>
  <% end %>
</div>