<h4>Edit Your new Comment!</h4>
<%= flash[:error] if flash[:error] %>
<%= form_for @commentable.push(@comment) do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit 'Submit', class: "btn btn-primary btn-sm" %>
<% end %>