<div id="edit-form">
  <h1>Modify Your Account:</h1>
  <%= flash[:error] if flash[:error] %>
  <br /><br />
  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <br />
    <%= f.text_field :name %>
    <br /><br />
    <%= f.label :email %>
    <br />
    <%= f.text_field :email %>
    <br /><br />
    <%= f.label :password %>
    <br />
    <%= f.text_field :password %>
    <br /><br />
    <%= f.label :password_confirmation %>
    <br />
    <%= f.text_field :password_confirmation %>
    <br /><br />
    <%= f.submit "Update Account" %>
  <% end %>
  <p id="delete-account"><%= link_to "DELETE ACCOUNT", user_path(current_user), {method: :delete, :confirm => "Are you sure? This cannot be undone. All questions, answers, and comments will be lost."} %></p>
</div>