<h1>Sign Up!</h1>
<div>
  <%= form_for @user do |f| %>
    <%= f.label :name %>
    <br />
    <%= f.text_field :name %>
    <br /><br />
    <%= f.label :email %>
    <br />
    <%= f.text_field :email %>
    <br /><br />
    