<%= answer.user.name %> : "<%= answer.content %>"
<% if answer.user == current_user %>
  &nbsp;<%= link_to "Edit", [:edit, @question, answer] %>
  |&nbsp;<%= link_to "Delete", question_answer_path(@question, answer), data: {confirm: "Are you sure?", :method => :delete} %>
<% end %>
<br />
<!-- <% if answer.comments.any? %>
  <h4><%= answer.comments.count %> comments:</h4>
  <% @question.comments.all.each do |comment| %>
    <%= render partial: 'comments/comment', locals: {comment: comment, commentable: answer} %>
  <% end %>
<% end %> -->

<!-- <% if is_logged_in %>
  <%= render partial: 'comments/form', locals: {commentable: [@question, answer]} %>
<% end %> -->