<div class="answer">
<%= answer.user.name %> answered, <%= answer.content %>
<% if answer.user == current_user %>
  &nbsp;<%= link_to "Edit Answer", [:edit, @question, answer] %>
  |&nbsp;<%= link_to "Delete Answer", question_answer_path(@question, answer), data: {confirm: "Are you sure?", :method => :delete} %>
<% end %>
</div>
<div id="answer-comment-box">
  <% if answer.comments.any? %>
    <h4><%= answer.comments.count %> comments:</h4>
    <% @question.comments.all.each do |comment| %>
      <%= render partial: 'comments/comment', locals: {comment: comment, commentable: answer} %>
    <% end %>
  <% end %>
</div>

<% if is_logged_in %>
  <%= render partial: 'comments/form', locals: {commentable: answer} %>
<% end %>